.menu-button,
button {
	width: 120px;
	height: 40px;
	border-radius: 2em;
	border: none;
	background-color: pink;
	color: black;
	font-family: Serif;
	font-size: 1.25em;
	font-weight: 700;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-select > select {
    padding: 0.2em 1.5em;
    border: 1px solid pink;
    background-color: pink;
    border-radius: 0.2em;
    cursor: pointer;
}

.search-bar {
    display: inline-block;
    background-color: pink;
    border-width: 0;
    font: inherit;
    -webkit-appearance: none;
    color: inherit;
    width: 100%;
    outline: 0;
    background: pink;
	color: black;
    border-radius: 2em;
    padding: 0.5em 1.5em;
    display: flex;
}